
body {
    background-color: rgb(29, 29, 29);
    color: #d0d0d0;
    margin-left: 30px;
}

h1 {
    font-size: 40px;
}

a, li {
    text-decoration: underline;
    color: #d0d0d0;
}

a:hover {
    color: #e0e0e0;
}
